{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Tableau de Bord</h6>
                    <ul>
                        <li class="{% if request.path == '/' %}active{% endif %}"> <a href="/"><i
                                    data-feather="home"></i><span>Acceuille</span></a></li>

                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Gestion des ventes </h6>
                    <ul>
                        <li><a href="{% url 'vendor-dashboard' %}"><i data-feather="shopping-bag"></i><span>Enregistrer
                                    une vente</span></a></li>
                        <li class="{% if request.path == '/pos/list-des-ventes' %}active{% endif %}"><a
                                href="{% url 'orders-list' %}"><i data-feather="book"></i><span>Registre de
                                    vente</span></a></li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Gestion de l'Inventaire</h6>
                    <ul>
                        <li class="{% if request.path == '/pos/list-des-category' %}active{% endif %}"><a
                                href="{% url 'category-list' %}"><i data-feather="tag"></i><span>Categories</span></a>
                        </li>
                        <li class="{% if request.path == '/pos/list-des-produits' %}active{% endif %}"><a
                                href="{% url 'products-list' %}"><i
                                    data-feather="plus-square"></i><span>Produits</span></a></li>
                 
                                    <li class="{% if request.path == '/pos/achat/' %}active{% endif %}" ><a href="{% url 'depense' %}"><i data-feather="archive"></i><span>Depenses</span></a></li> 
                                    <li class="{% if request.path == '/pos/achat/' %}active{% endif %}" ><a href="{% url 'depense' %}"><i data-feather="dollar-sign"></i><span>SMT</span></a></li> 

                    </ul>
                </li>

                <li class="submenu-open">
                    <h6 class="submenu-hdr">Gestion de contact</h6>
                    <ul>
                        <li class="{% if request.path == '/crm/list-des-clients' %}active{% endif %}"><a
                                href="{% url 'client-list' %}"><i data-feather="users"></i><span>Clients</span></a></li>
                        <li class="{% if request.path == '/crm/list-des-fournisseur' %}active{% endif %}"><a
                                href="{% url 'fournisseur-list' %}"><i
                                    data-feather="truck"></i><span>Fournisseurs</span></a></li>
                        <center>
                            <hr style="width: 60%;">
                        </center>
                        <li class="{% if request.path == '/crm/personnels/' %}active{% endif %}"><a
                                href="{% url 'user-list' %}"><i
                                    class=" fa fa-user-tie" style="margin-right: 10px;"></i><span>Personnels</span></a></li>
                    </ul>
                </li>

                <!-- <li class="submenu-open">
                    <h6 class="submenu-hdr">Comptabilité</h6>

                    <ul>
                        <li>
                            <a class="{% if request.path == '/caisse/' %} active{% endif %}"><i
                                    data-feather="inbox"></i> <span> Caisse</span>
                            </a>

                        </li>

                        <li>
                            <a class="{% if request.path == '/dépenses/' %} active{% endif %}"><i
                                    data-feather="dollar-sign"></i> <span> Dépenses</span>
                            </a>

                        </li>

                        <li>
                            <a class="{% if request.path == '/compte-de-l-exploitant/' %} active{% endif %}"><i
                                    data-feather="credit-card"></i> <span> Compte de l'exploitant</span>
                            </a>


                        </li>

                        <li>
                            <a class="{% if request.path == '/declaration-de-la-tva/' %} active{% endif %}"><i
                                    data-feather="pie-chart"></i> <span> Déclaration de TVA</span>
                            </a>

                        </li>

                        <li>
                            <a class="{% if request.path == '/smt/' %} active{% endif %}"><i
                                    data-feather="bar-chart-2"></i> <span> SMT</span>
                            </a>

                        </li>
                    </ul>
                </li> -->
                 <!-- <li class="submenu-open">
                    <h6 class="submenu-hdr">Paramètres et Configuration</h6>
                    <ul>
                        <li><a href="customers.html"><i data-feather="settings"></i><span>Paramètres Généraux</span></a></li>
                     
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</div>