{% load static %}
{% for category in categories %}
<tr id="category-{{ category.id }}">
    <td style="width: fit-content;"><img src="{{category.image.url}}" style="width:150px;" alt=""> </td>


        <td>{{category.name}} ({{category.products.count}} produits)</td>
    
    <td class="action-table-data" style="display: table-cell !important">
        <div class="edit-delete-action">
            <a class="me-2 p-2" data-bs-toggle="modal" data-bs-target="#edit-category-{{category.id}}">
                <i data-feather="edit" class="feather-edit"></i>
            </a>
            <form action="{% url 'delete-category' category.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="d-none" id="btn-{{category.id}}"></button>
                <a onclick="document.getElementById('btn-{{category.id}}').click();">
                    <i data-feather="trash-2" class="feather-trash-2"></i>
                </a>
            </form>

        </div>
    </td>
</tr>
{% endfor %}
    