{% extends "base/base.html" %}

{% load custom_tags %}
{% load static %}
{% block base %}
{% include 'include/navbar.html' %}
{% include 'include/sidebar.html' %}
<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="add-item d-flex">
                <div class="page-title">
                    <h4>Registre des ventes du {{ daterange }} </h4>
                    <h6>la liste de toutes les commandes enregistrées</h6>
                </div>
            </div>
            <ul class="table-top-head">
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img
                            src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
                </li>
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img
                            src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
                </li>
            </ul>
            <div class="page-btn">
                <a href="" class="btn btn-added"><i data-feather="trash" class="me-2"></i>Corbelle</a>
            </div>
          
        </div>
        <div class="card table-list-card">
            <div class="card-body">

<div class="mb-2 pt-2 row">
   <div class="col-12 col-md-6 col-lg-4">
<form method="get" class="mb-3 row px-3">
    <div class="col-12 col-md-6 px-0">
        <input type="text" name="daterange" class="form-control mt-2 w-100" value="{{ daterange }}" autocomplete="off"
            id="daterange" placeholder="Choisissez une plage de dates">
    </div>
    <div class="col-12 col-md-6 px-0">
        <button type="submit" class="btn btn-primary mt-2 w-100">Générer le rapport</button>
    </div>
</form>
   </div>
</div>
               
                <div class="table-responsive pt-0 pb-0 px-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="fs-6"><center>Heure de vente</center></th>
                                <th class="fs-6"><center>Client</center></th>
                                <th class="fs-6"><center>Séquence journalière</center></th>
                                <th class="fs-6"><center>Nombre de produits vendus</center></th>
                                <th class="fs-6"><center>Total</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hour_data in orders_by_hour %}
                            <tr class="bg-secondary">
                                <td colspan="5" class="fw-bold bg-secondary text-white">
                                   <center><i class="fe fe-clock me-2"></i>{{ hour_data.hour_start|date:"H:i" }} - {{ hour_data.hour_end|date:"H:i" }}
                                <span class="ms-2 fs-sm">({{ hour_data.nombre_commandes }} commandes)</span></center>
                                </td>
                            </tr>
                            {% for order in orders %}
                            {% if order.add_at.hour == hour_data.hour_start.hour %}
                            <tr class="cursor-pointer" data-bs-toggle="collapse" data-bs-target="#order-{{ order.id }}"
                                style="cursor: pointer;">
                                <td><center>{{ order.add_at|date:"H:i" }}</center></td>
                                <td><center>{{ order.client }}</center></td>
                                <td><center>{{ order.daily_sequence }}</center></td>
                                <td class="text-center"><center>{{ order.items.all.count }} Produits commandés</center></td>
                                <td class="text-end"><center>{{ order.get_total }} XOF</center></td>
                            </tr>
                            <tr>
                                <td colspan="5" class="p-0">
                                    <div class="collapse p-3 py-0 "  id="order-{{ order.id }}">
                                    <div class="table-responsive p-0">
                                        <table class="table table-sm ">
                                            <thead>
                                                <tr>
                                                    <th>Produit</th>
                                                    <th class="text-center">Prix unitaire</th>
                                                    <th class="text-center">Quantité</th>
                                                    <th class="text-center">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order.items.all %}
                                                <tr>
                                                    <td>{{ item.custom_product_name }}</td>
                                                   
                                                    <td class="text-center">{{ item.size.price.amount }} XOF
                                                    </td>
                                                    <td class="text-center">{{ item.quantity }}
                                                    </td>
                                                    <td class="text-center">{{ item.get_total }} XOF
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr class="table-secondary">
                                                    <td colspan="3" class="text-end">
                                                        <strong>Total:</strong>
                                                    </td>
                                                    <td class="text-center"><strong>{{ order.get_total }} XOF</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                        <tfoot class="table-responsive bg-secondary text-white">
                            <tr>
                                <td colspan="4" class="text-end fw-bold bg-secondary text-white"><strong>Total:</strong></td>
                                <td class="text-end fw-bold bg-secondary text-white"><strong><center>{{ total_amount }} XOF</center></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    $(function () {
        let today = moment().format('YYYY-MM-DD');

        $('#daterange').daterangepicker({
            locale: { format: 'YYYY-MM-DD', cancelLabel: 'Annuler', applyLabel: 'Filtrer' },
            autoUpdateInput: false,
            startDate: moment(),
            endDate: moment(),
            ranges: {
                'Aujourd\'hui': [moment(), moment()],
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 derniers jours': [moment().subtract(6, 'days'), moment()],
                '30 derniers jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                'Mois précédent': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });

        $('#daterange').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
        });

        // Préremplir avec aujourd’hui
        {% if not daterange %}
         $('#daterange').val(today + ' - ' + today);
        {% endif %}
    });
</script>

{% endblock base %}