{% extends 'base/base.html' %}
{% load custom_tags %}
{% load static %}
{% block base %}
{% include 'include/navbar.html' %}
{% include 'include/sidebar.html' %}
<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="add-item d-flex">
                <div class="page-btn" style="margin-right: 15px;">
                    <a href="{% url 'orders-list' %}" class="btn btn-added chevron-left"><i data-feather="chevron-left"
                            class=""></i>retour</a>
                </div>
                <div class="page-title">
                    <h4>commandes #{{order.id}} </h4>
                    <h6>detail de la commandes #{{order.id}} </h6>
                </div>
            </div>
            <ul class="table-top-head">
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img
                            src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
                </li>
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img
                            src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
                </li>
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Print"><i data-feather="printer"
                            class="feather-rotate-ccw"></i></a>
                </li>
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i
                            data-feather="rotate-ccw" class="feather-rotate-ccw"></i></a>
                </li>
                <li>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header"><i
                            data-feather="chevron-up" class="feather-chevron-up"></i></a>
                </li>
            </ul>
        </div>
        <div class="card ">
            <div class="card-body">
                <form action="sales-list.html">
                    <div class="invoice-box table-height"
                        style="max-width: 1600px;width:100%;overflow: auto;padding: 0;font-size: 14px;line-height: 24px;color: #555;">
                        <!-- <div class="sales-details-items d-flex">
                            <div class="details-item">
                                <h6>Information du client</h6>
                                <p>nom du client<br>
                                    numéro de telephone<br>
                                    addresse
                                </p>
                            </div>
                             <div class="details-item">
                                <h6>information du vendeur</h6>
                                <p>{{order.server}}<br>
                            </div>
                        </div> -->
                        <h5 class="order-text">Résumé de la commande</h5>
                        <div class="table-responsive no-pagination">
                            <table class="table  datanew">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Quantité</th>
                                        <th>Montant</th>
                                        <th>Prix total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for item in order.items.all  %}
                                    <tr>
                                        <td>
                                            <div class="productimgname">
                                                <a href="javascript:void(0);"
                                                    class="product-img stock-img">
                                                    <img src="{{item.size.product.image.url}}"
                                                        alt="product">
                                                </a>
                                                <a href="javascript:void(0);">{{item.size.product.category.name}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-quantity">
                                                <input type="text" disabled  class="quntity-input" value="{{item.quantity}}">
                                            </div>
                                        </td>
                                        <td>{{item.size.price}} </td>
                                        <td>{{item.get_total}} </td>
                                    </tr>

                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-6 ms-auto">
                                <div class="total-order w-100 max-widthauto m-auto mb-4">
                                    <ul>
                                        <li>
                                            <h4>Grand Total</h4>
                                            <h5>{{order.get_total}} </h5>
                                        </li>
                                        <li>
                                            <h4>Montant remise</h4>
                                            <h5>{{order.montant_remise}} </h5>
                                        </li>
                                        <li>
                                            <h4>Relicat</h4>
                                            <h5>{{order.relicat}} </h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock base %}
